<h1>Idea Bawx</h1>

<form id="idea-form">
  <label for="title">Title</label>:
  <input id="new_idea_title" name="title" type="text" placeholder="Name for your New Idea" required="true" minlength="1" /><br />

  <label for="body">Body</label>:
  <input id="new_idea_body" name="body" type="text" placeholder="Description of your New Idea" required="true" minlength="1" /><br />

  <input name="commit" type="submit" value="Save" />
</form>

<ul class="ideas">
</ul>
