<h1>Idea Bawx</h1>

<form id="idea-form">
  <fieldset>
    <legend>Save a New Idea:</legend>
    <label for="title">Title</label>:<br>
    <input id="new_idea_title" name="title" type="text" placeholder="Name for your New Idea" required="true" minlength="1" size="35" /><br />

    <label for="body">Body</label>:<br>
    <textarea id="new_idea_body" name="body" type="text" placeholder="Description of your New Idea" required="true" minlength="1"></textarea><br />

    <input name="commit" type="submit" value="Save" />
  </fieldset>
</form><br>

<form id="search-form">
  <fieldset>
    <legend>Search:</legend>
    <input id="search" name="search" type="text" placeholder="Enter Text to search by Title or Body" size="35" /><br />
  </fieldset>
</form><br>

<table style="width:100%" class="ideas" border="1">
 <tr class="headers">
   <th>Title</th>
   <th>Quality</th>
   <th>Body</th>
   <th>Options</th>
 </tr>
</table>
